.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
public/custom/themes/Digstatic-o-theme/js/

*.log
.htaccess
sitemap.xml
sitemap.xml.gz

config/env/production.php

vendor/
docs/
db/
public/custom/plugins/wp-remove-category-base/
public/custom/plugins/metabox-abstract
public/custom/plugins/query-monitor/
public/custom/themes/CMB2-Example-Theme/
public/custom/themes/Digstatic-o-theme/assets/.sass-cache/
public/custom/themes/Digstatic-o-theme/assets/node_modules/
public/custom/themes/Digstatic-o-theme/assets/sass/base/
public/custom/themes/Digstatic-o-theme/assets/sass/neat/
public/custom/themes/Digstatic-o-theme/assets/sass/bourbon/
public/custom/themes/Digstatic-o-theme/.sass-cache/
public/custom/themes/Digstatic-o-theme/backup-header.php
public/custom/themes/Digstatic-o-theme/footer__sidebar--footer.php
public/custom/themes/Digstatic-o-theme/.DS_Store
public/custom/themes/Digstatic-o-theme/content-portfolio-copy.php
public/custom/themes/Digstatic-o-theme/assets/sass/modules/_grid-images--backup.scss
public/custom/themes/Digstatic-o-theme/assets/sass/modules/_offcanvas_backup.scss