/**
*------------------------------------------------------------------------------------
*  BASE PARTIAL  
*------------------------------------------------------------------------------------
*/       


$color__primary--light: #DD0000 !default;
$color__primary: #C10000 !default;
$color__primary--dark: #990000 !default;

$base__font-size: 16 !default;
$base__line: 20 !default;


@function calc-em($target, $context: $base__font-size) {
    @return ($target / $context) * 1em;
}


$font__campton--xl: 'camptonbold_demo';
$style-name_xl: camptonbold_demo;
$file_xl: 'campton-bolddemo-webfont';
$category_xl: sans-serif;

$font__campton--s: 'camptonlight_demo';
$style-name_s: camptonlight_demo;
$file_s: 'campton-lightdemo-webfont';
$category_s: sans-serif;


@mixin font-face($style-name, $file, $category:"") {
    $filepath: "assets/fonts/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    }
    %#{$style-name} {
        font: {
            @if $category != "" {
                family: "#{$style-name}", #{$category};
            }
            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
}
@include font-face($style-name_s, $file_s, $category_s);
@include font-face($style-name_xl, $file_xl, $category_xl);







