/**
*------------------------------------------------------------------------------------
*	LAYOUT PARTIAL
*------------------------------------------------------------------------------------
*/
/**
*------------------------------------------------------------------------------------
*	RESET TO LAYOUT
*------------------------------------------------------------------------------------
*/	




body {
  margin: 0;
 // height:auto;
}
/**
*------------------------------------------------------------------------------------
*	END RESET TO LAYOUT
*------------------------------------------------------------------------------------
*/


.container.header-contents{
	position:relative;
	max-height: 100%;
	overflow: hidden;
	#breadcrumb-menu-breadcrum{
		position:absolute;
		bottom: $base-line-height;
		left:32px;
		right:48px;	
		font-family: $base-font-family;	
	}
}
.container{		
 	&-frame{		
 		&.main{		
 			& > .row {
 				padding: 3em 2em;	
 			}
 		}
 	}
}	
// #site-wrapper{
// 	.site-header a img.portada{		
// 		width:100%;		
// 	}
// 	&:hover{
// 		//background: url('assets/images/gridbgtr28.png');
// 		.site-header a img.portada{
// 		//	opacity: 0.8;
// 		}
// 		.toggle-nav{
// 			opacity: 1;
// 			//z-index: 999;
// 		}
// 	}
// }
// .page-template-front-page{
// 	.front-page{
// 		@include outer-container;
// 		h1{
// 			font-size: 1.225em;
// 		}
// 		q{
// 			@include span-columns(7);
// 			@include shift(1);
// 			font-weight: lighter;
// 		}
// 	}	
// }


.wrapper-navget{
    margin-left:auto;
    margin-right:auto;
    width:80%;
}
.sidebar{
    & > .widget{
        h5{
            text-align: center; 
            padding: 0 auto;
            margin: 0 auto;
        }
    } 
}

.sidebar{
    & > .widget{
        ul{
            margin-left:auto;
            margin-right:auto;
            width:80%;
            li{
            }
        }
    } 
} 
.page-template-template-grid-images{
	.container{		
		&-frame{		

			&.main{		
				& > .row {
					padding: 0;	
				}
			}
		}
	}
}


// .wrapper-main{
// 	@include span-columns(8);
// 	article{
// 		@include span-columns(7 of 8);
// 	}
// 	.paging-nav{
// 		@include span-columns(7 of 8);
// 	}
// 	.comments-area{
// 		@include span-columns(7 of 8);
// 	}
// 	// .comment-form-url{
// 	// 	@include span-columns(7 of 8);	
// 	// }
// 	// .comment-form-email{
// 	// 	@include span-columns(7 of 8);	
// 	// }
// 	// .comment-form-author{
// 	// 	@include span-columns(7 of 8);

// 	// }
// 	// .comment-notes{
// 	// 	@include span-columns(7 of 8);	
// 	// }
// }
.container{	
	@include outer-container;

	.row{
		@include fill-parent();

	}
	&-frame{
		@include outer-container;

	 	& > .row {
	 		padding: 0 2em;
	 		@include fill-parent();
		}
	 	&.main {
		 	& > .row {
		 		//padding: 0;
		 		overflow: hidden;
		 		@include fill-parent();
			}
		}
	}
}
.wrapper-main{
	@include fill-parent();
	article{
	@include span-columns(12);	
    	@include media ($medium-level-c-up) {
			@include span-columns(8 of 8);
		//margin-right: 0;
    	}
    	@include media ($large-level-d-up) {
			@include span-columns(7 of 8);
		//margin-right: 0;
    	}
	}
    @include media ($medium-level-c-up) {
		@include span-columns(8);
		//margin-right: 0;
    }

}


//$widget-width-level-b-up: @include span-columns(4);
aside{
	@include fill-parent();

	.widget{
	@include span-columns(12);	
	  //   @include media ($medium-level-c-up) {
			// @include span-columns(3 of 4);
	  //   }
	}
    @include media ($medium-level-c-up) {
		@include span-columns(4);
    }	
}
.aside-portfolio-desc{
	@include fill-parent();
	.portfolio-meta{
	@include span-columns(12);		
	}
    @include media ($medium-level-c-up) {
		@include span-columns(3);
    }	
	
	
}

.aside-snippets-meta{
	@include fill-parent();
	.snippets-meta{
		@include span-columns(12);	
    		@include media ($medium-level-c-up) {
    			margin-right:0;
				//@include span-columns(3 of 4);
    		}
	//	@include span-columns(12);	
	}
    @include media ($medium-level-c-up) {
		@include span-columns(4);
		margin-right:0;
    }	
}

.nav-portada{
	@include span-columns(9);	
}
.comments-area{
	//overflow: hidden;
	//@include fill-parent();

	//@include span-columns(12);	
	@include media ($medium-level-c-up) {
		@include span-columns(8 of 8);
	}
	@include media ($large-level-d-up) {
		@include span-columns(7 of 8);
 	}	
	
}
.single-snippets{
	.comments-area{
		@include media ($medium-level-c-up) {
			@include span-columns(8 of 12);
		}
		@include media ($large-level-d-up) {
			@include span-columns(7 of 12);
		}
	}	
}






figure {
	margin: $base-line-height 0em;
	img{
		border: 2px solid $base-border-color;

	}	
}


/**
*------------------------------------------------------------------------------------
*	VERTICAL RYTHM
*------------------------------------------------------------------------------------
*/	

body{
	font-size: $base-font-size;
	line-height: $base-line-height;
}

#site-wrapper{
	.site-header a img.portada{
		margin-top:-3.25em;
		border-bottom: 0.35em solid #32ddee;

	}
}
// .single-portfolio{
// 	.container{		
// 		&-frame{		

// 			&.main{		
// 				& > .row {
// 					//margin-top:2em;
// 					margin-top:0em;
// 					padding: 3em 2em 1.825em 2em;	
// 				}
// 			}
// 		}
// 	}	
// }
// .post-type-archive-portfolio{
// 	.container{		
// 		&-frame{		

// 			&.main{		
// 				& > .row {
// 					//margin-top:2em;
// 					//padding: 3em 2em 3em 2em;
// 					margin-top:0em;
// 					padding: 0;	
// 				}
// 			}
// 		}
// 	}	
// }

.header-contents img.portada {
	border-bottom: 0.35em solid $base-accent-color;
	height: auto;
	min-height: 14em;
	margin-top: -1em;
	max-width: 118%;
    @include media ($small-level-b-up) {
      //display: none;
      width: 100%;
      height: auto;
      max-width: 100%;
    }
}


 #breadcrumb-menu-breadcrum{

 	font-size: 1.125em;
 	a{
	 	&:first-child{
	 		font-weight: bold;
	 	}
 	}
}
.single{
	#breadcrumb-menu-breadcrum{

		a{

		 	&:last-child{
		 		display: none;
		 	}
		}
	}	
}

#site-menu {
  & + a.toggle-nav{
	 position:absolute;
	 top:20px;
	 left:20px;
  }
}

// .container{		
// 	&-frame{		
// 	 	& > .row {	 		
// 	 		&.top-nav-row{
// 	 			position:relative;
// 	 			top: -2.825em;
// 	 		}
// 		}
// 		&.main{		
// 			& > .row {
// 				padding: 0.85em 2em;	
// 			}
// 		}
// 	}
// }


h1{
	&.entry-title{
		font-size: 1.925em;
		margin: 0.3em 0 $base-line-height 0;
		//font-family: $font__altehaas--m;
		//font-weight: normal;
	}
}
.aside-snippets-meta{
//margin-top: 56px;
}
h4{
	&.title-snippets-meta{
		margin: 0.675em 0 $base-line-height 0;
		//font-weight: normal;	
	}
	&.title-portfolio-desc{
		margin: 0.675em 0 $base-line-height 0;
		//font-weight: normal;	
	}
}
h3{
	&.title-snippets-meta{
		margin: 0.5em 0 $base-line-height 0;
		font-weight: normal;	
	}
}
ul{
	margin-bottom: $base-line-height;
	&#menu-descriptions{
		margin-bottom: 0;
		padding-top: 0.25em;	
	}	
}


.wrapper-main{
	article{
		margin-bottom: $base-line-height;
	}
}
aside{
	.widget{
		margin: $base-line-height auto;
	}	
}

.site-navigation ul{
    float:left;
	li{
		font-family: $base-font-family;
	    font-size: 2.125em;
	    display: inline-block;
	    position:relative;
	    //padding-right:0.5em;
	    a{
	    	//color:#322de8;
	    }
	}
}

.widget{
    font-family: $font__campton--s;
}


.sidebar{
    & > .widget{
        h5{
            font-size: 1.825em;
            line-height: 1.5em;
        }
    } 
}

.sidebar{
    & > .widget{
        ul{
            font-size: 1.125em;
            line-height: 1.5em;
            li{
            	font-size:1.125em;
            	line-height: $base-line-height;
                border-bottom:2px solid #ccc;
            }
        }
    } 
}

// footer{
// 	&.entry-footer{
// 		.footer-nav{
// 			@include span-columns(7 of 8);
// 		}
// 		.before{
// 			@include span-columns(3 of 7);
			
// 			//text-align: left;
// 			overflow: hidden;
// 			min-height: 1em;
// 		}
// 		.after{
// 			@include span-columns(3 of 7);
// 			@include shift(1);
// 			//text-align: right;
// 			overflow: hidden;
// 			min-height: 1em;
// 		}
// 	}
// }

.main-portfolio{
	img{
		//max-width: 100%;
		//height:auto;
	}
}

.wrapper-navget{
	ul{
		list-style-type: disc;
		//list-style-position: inside;
      	color: $hover-link-color;
	}
}
#footer{
	div{
		&.copyright{
			text-align: right;
		}
	}
}

// .container{
// 	padding-left: 20px;
// 	padding-right: 20px;
// 	margin: auto;
//     overflow:hidden;
// 	& > .row {
// 		margin-left: -20px;
// 		margin-right: -20px;
// 		overflow: hidden;
// 		}
// 	&-frame{
// 			padding-left: 40px;
// 			padding-right: 40px;
// 			margin: auto;
// 	& > .row {
// 		margin-left: -20px;
// 		margin-right: -20px;
// 		overflow: hidden;
// 		&.top-nav-row{
// 			margin-top:-4.2em;
// 			padding-bottom: 4.2em;
// 			}
// 		}
// 	}
// }

// .banner-portada .site-logo{
//     float:right;
// }
// .banner-portada{
//     width:100%;
//     overflow:hidden;
//     float:right;
// }
// //.nav-portada{
// //    width:100%;
// //    overflow: hidden;
// //}
// .nav-portada{
//     width:67%;
// }
// .copyright{
//     width:100%;
//     float: right;
// }
// @media screen and (min-width:540px) {


//     .banner-portada .site-logo a{
//         max-width: 100%;
//         background-size: 100% auto;
//     }
//      .wrapper-main{
//         margin:auto;
//      }
// }

// @media screen and (min-width:960px) {
// 	article{
// 		padding-left:20px;
// 	}
// 	.copyright{
// 		p{
// 			padding-left:20px;
// 		}
// 	}
// }


// @media screen and (min-width:720px) {
//      .wrapper-main{
//         width:70%;
//         float: left;
//      }
//      .copyright{
//         width:70%;
//      }
// }

// @media screen and (min-width:960px) {

//     .banner-portada{
//         width:30%;
//     }
//     .nav-portada{
//         width:67%;
//     }
// }

// @media screen and (min-width:1240px) {

// }


