/**
*------------------------------------------------------------------------------------
*	MODULE LISTS
*------------------------------------------------------------------------------------
*/

ul{
    padding-left:0;
    list-style-type: none;
}


/**
*------------------------------------------------------------------------------------
*	.SITE-NAVIGATION
*------------------------------------------------------------------------------------
*/		


.sidebar{
    & > .widget{
        ul{
            font-size: 1.125em;
            margin-left:auto;
            margin-right:auto;
            width:80%;
            line-height: 1.5em;
            li{
                border-bottom:2px solid #ccc;
            }
        }
    } 
}

.site-navigation ul{
    float:left;
	li{
		font-family: $font__campton--xl;
	    font-size: 2.125em;
	    display: inline-block;
	    position:relative;
	    &.menu-item-has-children{
	    	a{
	    		padding-bottom:20px;
	    		& + ul{
	    			&.sub-menu{
	    				li{
	    					&.menu-item-has-children{
	    						&:hover{
	    							a{
		    							& + ul.sub-menu li{
	    								     position:relative; 
										     left:1.25em; 
										     display: inline; 
										     margin-left: 0; 
										     margin-right: 0; 
										     padding-left:0; 
										     list-style-type: none;
		    							}
		    						}
	    						}
	    						a{
	    							& + ul.sub-menu li{
	    								display: none;
	    							}
	    						}
	    					}
	    				}
	    			}
	    			display: none;	
	    		}
	    	}
	    	&:hover{
	    		a{
		    		& + ul{
		    		    position:absolute; 
	    				display: block;
	    				li{
	    				 	position:relative;	
	    				} 	
		    		}
		    	}
	    	}
	    }
	    li{
	    	font-size: 1em;
	    	&.menu-item-has-children{
	    		li{
			    	&.menu-item-has-children{
			    		ul{
		    			    display: inline;
			    			li{
			    				display: none;
			    			}
			    		}
			    	}
			    }
	    	}
	    }
	}
}

.top-menu-list{
    li{ 
        a{
            padding-right:0.25em;
            padding-left:0.25em;
        }
    }
}

@media screen and (min-width:960px) {
    .top-menu-list{
        margin-left:20px;
    }
}