/**
*------------------------------------------------------------------------------------
*	OFFCANVAS PARTIAL
*------------------------------------------------------------------------------------
*/	

/**
*------------------------------------------------------------------------------------
*	http://codepen.io/ncerminara/full/KJjiD/
*------------------------------------------------------------------------------------
*/	

.screen-reader-text{
    display: none;
}


// a{
//   text-decoration: none;
// }
// a:hover{
//   text-decoration: none;
// }

// .site-navigation ul li{
//   a{
//     color:#322de8;
//     &:hover{
//         color:#322de8;
//     }
//   }
// }
// .top-menu-list{
//   background-color: #ccc;
//   li{ 
    
//     &:hover{
//         background-color: #ee6eff; 
//     }
//   }
// }
#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  //background: #333;

}
.grid_control.show.hide + #site-wrapper.show-nav{
  background-color: #333;
  & > #site-canvas{
   background-color: #fff;   
  }

}
#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
    //background: #fff;
  
  -webkit-transform: translateX(0);
  transform: translateX(0);
  
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  
  -webkit-transition: 280ms ease all;
  transition: 280ms ease all;
 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
   
}
.show-nav #site-canvas {
  -webkit-transform: translateX(280px);
  transform: translateX(280px);
  
  -webkit-transform: translate3d(280px, 0, 0);
  transform: translate3d(280px, 0, 0);
}
// #site-menu {
//   width: 260px;
//   height: 100%;
//   min-height: 100%;
//   position: absolute;
//   top: 0;
//   left: -260px;
//   background: #333;
//   color:#fff;
//   overflow: auto;
//   padding-top:60px;
//   & + a.toggle-nav{
//   }
// }
#site-menu {
width: 280px;
height: 100%;
min-height: 100%;
position: relative;
top: 0;
margin-left: -280px;
 //background-color:#7FFFD4;
background: #333;
color: #fff;
overflow: auto;
padding-top: 60px;
//padding-bottom: 30px;
float: left;
}
.wrapper-navget{
  .portfolio-fields{
  //  padding-top:4em;
  }
  .snippets-languages{
  //  padding-bottom:2em;
  }
  a{

  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: none;

    &:hover {
      color: $hover-link-color;
    }

    &:active, &:focus {
      color: $hover-link-color;
      outline: none;
    }
  }
  h5{
    text-transform: uppercase;
    line-height: 1.5em;
    padding-top: 2em;
    //margin-left: -1em;
    font-size: 0.8725em;
    //text-decoration: underline;
    color: #333; 
  }
}
.wrapper-navget{
  background-color:#7FFFD4;
  margin:0;
  width:280px;
  padding-left:2em;
  //padding-left:4em;
  //  padding-right:4em;
  //padding-bottom: 60px;


  ul{
    padding-top:12px;
  }
  //padding-right: 4em;
}
body, html{
  //min-height:100%;
 height:100%;
  //height:auto !important;
}
#site-canvas{
       // border-bottom: 12px solid #333;
    min-height: 100%;
  height: auto !important;
  //height: 100%;
  /* Negative indent footer by its height */
  
  /* Pad bottom by footer height */
 padding: 0px 0 60px;
 margin: 0px 0 -60px;
}
// #site-menu{


// width: 260px;
// /* height: 100%; */
// min-height: 100%;
// position: absolute;
// top: 0;
// overflow:visible;
// //bottom: -90px;
// left: -260px;
// background: #333;
// color: #fff;
// overflow-y:scroll;
// max-width:90%;
//   //padding-top:36px;
//   //margin-bottom: -60px;

// }
.wrapper-navget{
  padding-bottom: 2em;
}
#site-wrapper{

  min-height: 100%;
  height: auto !important;
  height: 100%;
  //  padding: 0px 0 60px;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
 //background-color:#7FFFD4;
  /* Pad bottom by footer height */
  //padding: 0 0 60px;
}
.grid-items-lines{
  //padding-top: 30px;
  //padding-bottom: 60px;
}
.copyright-front{
  width:100%;
  text-align: right;
  height:30px;
  
  font-size: 3.5em;
  text-transform: lowercase;
  position: relative;
  bottom:-0.25em;
  p{
    padding-bottom: 0;
    padding-right: 32px;
  }
}

/* Set the fixed height of the footer here */
#footer {
  //        border-top: 12px solid #333;
  //margin:0px auto;
margin:-30px auto 0 auto;
 height: 30px;
 //border-top:2px solid $hover-link-color;
overflow:auto;
position: relative;
 background-color: #222;
 //z-index: 99999999;
}

