/**
*------------------------------------------------------------------------------------
*	MODULES SNIPPETS
*------------------------------------------------------------------------------------
*/	

.term{
	border:solid 2px #777;
	display: block; 
	border-radius: 4px; 
	margin-bottom:10px; 
	text-align: left;
	&.max{
		top:0; 
		left:0; 
		position:absolute; 
		width:100%; 
		height:100%; 
		max-width:none;
	}
	&.min{
		position:absolute; 
		bottom:0;
		.shell{
			min-height:0; 
			height:0; 
			padding:0;
		}
		.chrome{
			border:0 none; 
		}
	}
	&.index{
		.shell{ 
			min-height:130px; 
			max-height:240px;
			overflow:hidden;
			overflow-y:scroll;
			padding:0px; 
			color:#777; 
		}
	}	
	.chrome{
		border:solid 2px #777;
		height:34px; 
		padding-left:4px; 
		border-top:0 none; 
		border-right:0 none; 
		border-left:0 none;
		&:before{
			content:" "; 
			display:inline-block; 
			height:100%; 
			vertical-align:middle;
		}	
		.btn{
			border:solid 2px #777;
			display:inline-block; 
			vertical-align:middle; 
			width:12px; height:12px; 
			border-radius:100%; 
			margin-left:2px; 
			margin-right:4px;
			&:hover{ 
				border-color:#404040;
			}
			&.close{
				&:hover{ 
					background:red; 
				}
			}
			&.max{
				&:hover{ 
					background:green; 
				}
			}
			&.min{
				&:hover{ 
					background:#F7DA03; 
				}
			}
		}
	}
	.shell{ 
		min-height:130px; 
		overflow:hidden;
		padding-left:0px; 
		color:#777; 
	}
	.workshopper{ 
		background: transparent; 
		padding:2px; 
		code{ 
			border:0 none; 
		}
	}
	code{ 
		// display:block; 
		// margin:0px 0 0 4px; 
		// padding: 0px 10px; 
		// border-left: 8px solid #F7DA03; 
		// border-radius: 0; 
		// background:none; 
	}
}

.term .shell .syntaxhighlighter{
	margin-top: -0.15em !important;
	margin-bottom: 0em !important;
	table td.gutter .line {
		  text-align: right !important;
		  padding: 0 0.25em 0 0.25em !important;
		 &:first-child{
		 	padding: 1em 0.25em 0em 0.25em !important;
		 }
 		 &:last-child{
		 	padding: 0em 0.25em 1em 0.25em !important;
		 }

	} 
}