h1 {
    font-size: calc-em(36);
    line-height: (40/36);
    //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: $font__campton--xl;
    margin-bottom: calc-em(10, 40);
    font-weight: bold;
    //font-weight: lighter;
    color: $color__primary;
}

h2 {
    font-size: calc-em(24);
    line-height: (28/24);
    //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: $font__campton--s;
    margin-bottom: calc-em(15, 40);
    color: $color__primary;
}

h3 {
    font-size: calc-em(20);
    line-height: (22/20);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: calc-em(15, 40);
}

p {
    font-size: calc-em(15);
    line-height: (20/15);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: calc-em(10, 15);
}

.site-navigation ul li, h1{
    font-family: $font__campton--xl;
    //font-weight: lighter;
}

.widget{
    font-family: $font__campton--s;
}


.sidebar{
    & > .widget{
        h5{
            text-align: center; 
            font-size: 1.825em;
            line-height: 1.5em;
            padding: 0 auto;
            margin: 0 auto;
        }
    } 
}