/**
*------------------------------------------------------------------------------------
*	MODULES WIDGETS
*------------------------------------------------------------------------------------
*/	

.sidebar{
    & > .widget{
        text-align: left;   
        display: inline;
        padding: 0px 18px;
    } 
}
.sidebar{
    .widget{
        width:auto;
        margin:auto;
    }
}


.searchform{

}
.widget{
	& > form{
		& > div{
			& > label{
				& + input{
					width:60%;
					//max-width: 6em;
				}
			}
		}
	}
}
.widget.widget_pages{ }





//#calendar_wrap{
//    font-family: $font__campton--s;
//}
#wp-calendar caption {
    text-align: left;
    font-size: 0.95em;
    font-weight: lighter;
}