$color__primary--light: #DD0000 !default;
$color__primary: #C10000 !default;
$color__primary--dark: #990000 !default;

$base-link-color: #322de8 !global;
$hover-link-color: #322de8;
//$base-background-color;$visual-grid: false !global;